{% extends 'base.html' %}
{% load static %}

{% block navbar_brand %}
  Edit Data for {{ data.name }}
{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'edit.css' %}">
{% endblock %}


{% block content %}


<div class="Editdata">
<form method="POST">
    {% csrf_token %}
    <h2>Edit Data</h2>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ data.name }}" required>
    </div>
    
    <div>
        <label for="contact">Contact:</label>
        <input type="tel" id="contact" name="contact" value="{{ data.contact }}" pattern="[0-9]{10}" required>
    </div>
    
    <div>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" value="{{ data.country }}" required>
    </div>

    <button class="btn"  type="submit">Save Changes</button>
</form>

</div>
<div class="back">
<a href="{% url 'index' %}">Back to list</a>
</div>
{% endblock %}
